@import "tailwindcss";

*{
    font-family: "Open Sans", sans-serif;
}
#navbar-items > ul > li {
    position: relative;  
}

#navbar-items > ul > li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    height: 3px;
    background-color: #F14A00;
    transition: transform 0.20s ease-in-out;
    margin-top: 20px;
}

#navbar-items > ul > li:hover::after {
    transform: scaleX(1);
}

.animated-link {
    position: relative;
    text-decoration: none;
  }
  
  .animated-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #F14A00;
    transition: width 0.3s ease;
  }
  
  .animated-link:hover::after {
    width: 50%;
  }
  
  .link-group {
    display: flex;
    flex-direction: column;
  }
  
  .text-link {
    display: inline-block;
    position: relative;
  }
  
  .text-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #F14A00;
    transition: width 0.3s ease;
  }
  
  .text-link:hover::after,
  .link-group:hover .text-link::after {
    width: 50%;
  }

  .image-link {
    display: block;
  }