@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "tailwindcss";


*{
    font-family: "Open Sans", sans-serif;
}

/* ---------------------- Navbar ---------------------------------- */

#navbar-items > ul > li {
  position: relative;  
}

#navbar-items > ul > li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    height: 3px;
    background-color: #F14A00;
    transition: transform 0.3s ease-in-out;
    margin-top: 20px;
}

#navbar-items > ul > li:hover::after {
    transform: scaleX(1);
}

.animated-link {
    position: relative;
    text-decoration: none;
  }
  
  .animated-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #F14A00;
    transition: width 0.3s ease;
  }
  
  .animated-link:hover::after {
    width: 50%;
  }
  
  .link-group {
    display: flex;
    flex-direction: column;
  }
  
  .text-link {
    display: inline-block;
    position: relative;
  }
  
  .text-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #F14A00;
    transition: width 0.3s ease;
  }
  
  .text-link:hover::after,
  .link-group:hover .text-link::after {
    width: 50%;
  }

  .image-link {
    display: block;
  }

  /* -------------------------------- Rotating Card ----------------------------------- */
  .card-container {
    width: 28vw;
    height: 50vh;
    perspective: 1000px;
    border-radius: 16px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 16px;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .card-front {
    background-color: #f0f0f0;
    border-radius: 16px;
  }
  
  .card-front-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 16px;
    text-align: left;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  
  .card-front-title {
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .card-front-name {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 8px;
  }
  
  .card-front-button,
  .card-back-button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 4px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card-front-button:hover,
  .card-back-button:hover {
    background-color: #3b82f6;
  }
  
  .card-back {
    background-color: #000B58;
    color: white;
    transform: rotateY(180deg);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px;
    border-radius: 16px;
  }
  
  .card-back-heading {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 8px;
  }
  
  .card-back-message {
    font-size: 16px;
    margin-bottom: 16px;
    text-align: left;
  }
  
  .card-back-button{
    background-color: #F14A00;
    color: white;
  }
  .card-back-button:hover{
    background-color: #9b2f00;
    color: white ; 
  }
  

  /* ------------------------ HOME --------------- */
  #notice-board{
    color: white;
    font-family: "Patrick Hand", cursive !important;
    
  }

  #download-section button{
      padding: 5px 20px ; 
      margin: 0px 20px ; 
      border-radius: 8px;
      font-weight: 700;
      color: #FCF7FF;
      cursor: pointer ; 
  }

  #hero-heading{
    color: rgb(0,0,0);
    font-family: "Shrikhand", serif;
    -webkit-text-stroke: 1px #FFB22C;
    font-weight: 900;
  }

  /* ----------------------- FOOTER ------------------ */

  #footer{ 
    background-image: url("src/assets/school.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  #footer #cover{
    background-color: rgba(0, 0, 0, 0.77);
  }
  #heading::after {
    content: "";
    display: block;
    width: 90%;
    height: 4px;
    background-color: #FFB22C;
    position: absolute;
    bottom: -4px;
    right: 0;
    text-align: right;
  }
  #footer-content > div > h1::after{
    content: '';
    display: block;
    width: 25%;
    height: 3px;
    background-color: #FFB22C;
    position: absolute;
    bottom: -8px;
    left: 0;
  }

  /* ---------------- Loading Screen --------- */

 /* LoadingScreen.css */

#loader {
  position: relative;
  width: 220px;
  height: 220px;
}

/* Blinking text animation */
.blinking-text {
  animation: blink 0.5s infinite alternate;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.circular-path {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  pointer-events: none;
}

.path-1 {
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  animation: rotate-anticlockwise-1 2.5s linear infinite;
}

.path-2 {
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  animation: rotate-clockwise-2 3.5s linear infinite;
}

.path-3 {
  width: 160px;
  height: 160px;
  transform: translate(-50%, -50%);
  animation: rotate-clockwise-3 4.5s linear infinite;
}

.path-4 {
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  animation: rotate-anticlockwise-4 5.5s linear infinite;
}

.loader-spinner {
  position: absolute;
  height: 5px;
  border-radius: 10px;
}

.orange-spinner {
  background-color: #F14A00;
  width: 30%;
  top: 0;
  left: 35%;
  transform-origin: center;
  height: 50%;
  clip-path: ellipse(50% 50% at 50% 0%);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.blue-spinner {
  background-color: #000B58;
  width: 30%;
  top: 0;
  left: 35%;
  transform-origin: center;
  /* Make it a semicircle */
  height: 50%;
  clip-path: ellipse(50% 50% at 50% 0%);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

@keyframes rotate-anticlockwise-1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotate-clockwise-2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-clockwise-3 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-anticlockwise-4 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}